{% extends 'base_design.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1>{{ page.design_name }}</h1>
        </div>

        <div class="text-center">
            {% image page.design_image original as img %}
            <img src="{{img.url}}" class="img-fluid" alt="{{img.alt}}" style="mix-blend-mode: multiply"/>
        </div>

        {# Add streamfield blocks to welcome page. #}
        {% for block in page.design_description %}
            {% include_block block %}
        {% endfor %}


        {# Add design parameter input form. #}
        <div class="text-center">
            <h3>Design Parameters</h3>
            <p class="text-primary">Enter design parameters below.</p>
        </div>
        <form method="POST" id="generateRecommendedComponents">
            {% csrf_token %}
            <fieldset>
            {% for parameter in page.design_params.all %}
            <div class="form-group">
                <div class="text-primary">
                    {{parameter}} in {{parameter.units}}
                </div>
                <input type="number" step="0.01" class="form-control" id="design_parameter_{{parameter.abbreviation}}" 
                        name="design_parameter_{{parameter.abbreviation}}"
                        placeholder="Enter value."
                        required>
            </div>
            {% endfor %}
            
            <input type="hidden" name="generateRecommendedComponents">
            <input type="submit" class="btn btn-outline-primary" value="Generate Recommended Components">
            </fieldset>
        </form>

        {# Add recommended components output form. #}
        <div class="text-center">
            <h3>Recommended Components</h3>
        </div>
        <form method="GET" id="recommendedComponents">
            {% csrf_token %}
            <fieldset>
            {% for component in page.recommended_components.all %}
                <div class="form-group">
                    <label class="text-primary" for="rec_component_{{component.abbreviation}}">{{component.abbreviation}} in {{component.units}}</label>
                    <big class="form-text text-center text-primary">{{component.equation}}</big>
                    <input readOnly="" class="form-control" id="rec_component_{{component.abbreviation}}" 
                            name="rec_component_{{component.abbreviation}}"
                            placeholder="Generate recommended components to view results.">
                </div>
            {% endfor %}
            </fieldset>
        </form>

        {# Add selected components input form. #}
        <div class="text-center">
            <h3>Selected Components</h3>
            <p class="text-primary"> Enter selected components for converter below.</p>
        </div>
        <form method="POST" id="generateConverterAnalysis">
            {% csrf_token %}
            <fieldset>
            {% for sel_component in page.selected_components.all %}
                <div class="form-group">
                    <label class="text-primary" for="sel_component_{{sel_component.abbreviation}}">{{sel_component.abbreviation}} {% if sel_component.units %}in {{sel_component.units}}{% endif %}</label>
                    <input type="number" step="0.001" class="form-control" id="sel_component_{{sel_component.abbreviation}}" 
                        name="sel_component_{{sel_component.abbreviation}}" 
                        placeholder="Enter value for {{sel_component.abbreviation}}." required>
                </div>
            {% endfor %}

            <input type="hidden" name="generateConverterAnalysis">
            <input type="submit" class="btn btn-outline-primary" 
                    value="Generate Converter Analysis" id="generateConverterButton">
            </fieldset>
        </form>

        {# Add design equations output form. #}
        <div class="text-center">
            <h3>Converter Analysis</h3>
        </div>
        <form id="generateOpenLoopTransfers" method="POST">
            {% csrf_token %}
            <fieldset>
            {% for equation in page.design_equations.all %}
                <div class="form-group">
                    <label for="design_equation_{{equation.description}}">{{equation.description}} in {{equation.units}}</label>
                    <big class="form-text text-center text-primary">{{equation.equation}}<b></b></big>
                    <input readOnly="" class="form-control" id="design_equation_{{equation.description}}" 
                        placeholder="Generate converter analysis to view results." required>
                </div>
            {% endfor %}
            
            <input type="hidden" name="generateOpenLoopTransfers">
            <input type="submit" class="btn btn-outline-primary" 
                    value="Generate Open Loop Transfer Functions" id="generateOpenLoopButton">
            </fieldset>
        </form>

        {# Add open loop transfer function plotting.#}
        <div>
            <h3 class="text-center">Open Loop Bode Plots</h3>

            {% for equation in page.open_loop_equations.all %}
                <div class="text-center">
                    <h5 class="text-center">{{equation.description}}</h5>
                    <div id="open_plot_{{ equation.description }}_mag"></div>
                    <div id= "open_plot_{{ equation.description }}_phase" style="margin-top: -10px;"></div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}

<script>

    //Global variable for range of bode plots on the x-axis
    range = JSON.parse("{{ page.X_RANGE.x_range }}");
    mags_output_impedance = JSON.parse("{{ page.MAGS_OI.mags_oi }}");
    phases_output_impedance = JSON.parse("{{ page.PHASE_OI.phase_oi }}");

    mags_input_impedance = JSON.parse("{{ page.MAGS_II.mags_ii }}");
    phases_input_impedance = JSON.parse("{{ page.PHASE_II.phase_ii }}");

    mags_input_output_transfer = JSON.parse("{{ page.MAGS_IO.mags_io }}");
    phases_input_output_transfer = JSON.parse("{{ page.PHASE_IO.phase_io }}");

    mags_duty_output_transfer = JSON.parse("{{ page.MAGS_DO.mags_do }}");
    phases_duty_output_transfer = JSON.parse("{{ page.PHASE_DO.phase_do }}");

    out_imped_mag_div = "open_plot_Output Impedance_mag";
    out_imped_phs_div = "open_plot_Output Impedance_phase";

    in_imped_mag_div = "open_plot_Input Impedance_mag";
    in_imped_phs_div = "open_plot_Input Impedance_phase";

    in_out_mag_div = "open_plot_Input to Output Transfer Function_mag";
    in_out_phs_div = "open_plot_Input to Output Transfer Function_phase";

    duty_out_mag_div = "open_plot_Duty to Output Transfer Function_mag";
    duty_out_phs_div = "open_plot_Duty to Output Transfer Function_phase";

</script>

<script type="text/javascript" src="/static/js/dcdc/ajaxSupport.js"></script>

<!--Load open loop bode plot capability.-->
<script src="https://fastcdn.org/D3.js/3.5.6/d3.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
crossorigin="anonymous"></script>

<script src="/static/js/dcdc/plotOpenLoop.js" type="text/javascript"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/dcdc/bode-styles.css">

<style>
.success-indication{
    outline-width:1px;
    outline-style:solid;
    outline-color:green;
    transition-timing-function: ease-in-out;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

.submission-invalid{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.black-border{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
</style>

{% endblock %}