{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container mt-5 mb-5">
        <h1>{{ page.title }}</h1>
        <p>
            {{ self.thank_you_text|richtext }}
        </p>
    </div>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {

    var docHeight = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;

    if (footerTop < docHeight)
        $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
});
</script>
{% endblock extra_js %}